.bg {
    background-image: url(../../assets/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    width: 100%;
    color: rgb(0, 0, 0);
    display: table;
  }

.navbar-nav {
    margin-left: auto;
}

.btn
{
    text-decoration: none;
    color: white;
    background: transparent;
}

.btn:hover
{
    color: white;
}

#searchFav:focus {
    border: solid 2px #ffffff;
    border-radius: 10px;
    outline: none;
}

form{
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    color: white;
    background: rgba(221, 205, 205, 0.284);
    backdrop-filter: blur(20px); 
}

#basic
{
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(124, 184, 204);
}

#formSearchButton, #googleMapsButton
{
    background-color: rgb(255, 36, 36);
}

#formSearchButton:hover
{
    background-color: rgb(223, 3, 3);
}

#formClearButton
{
    background-color: rgb(0, 79, 238);
}

#formClearButton:hover
{
    background-color: rgb(8, 71, 197);
}

#header th:first-child{
    border-top-left-radius: 15px;
  }
tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
  }
#header th:last-child{
    border-top-right-radius: 15px;
  }
tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
  }

  [aria-label="secondary"] {
    background-color: #35e5ced2;
    font-weight: bolder;
    color: #ffffff;
  }

.mdc-tab__text-label
{
    color: #ffffff !important;
}

h5{
    color: #35e5ced2;;
}

.venueDetailRow1 p
{
    font-size: 12px;
}

#truncate {
    display: block;
    max-height: 2.5em;
    line-height: 1.2em;
    word-spacing: 0.01em;
    overflow: hidden;
    /* max-height: 3.6em; */
    /* line-height: 1.8em; */
  }

.modal-dialog
{
    width: fit-content;
}

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

mat-tab-header {
    background-color: #46ffe7d2;
}

mat-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2A79FF!important;
}

.fade {
    transition: opacity .15s linear;
}

.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
}


[mat-align-tabs=center]>.mat-mdc-tab-header .mat-mdc-tab-labels {
    justify-content: center;
}

.mat-mdc-tab-labels {
    display: flex;
    flex: 1 0 auto;
}

.mdc-tab {
    width: 20% !important;
}

.mat-mdc-tab.mdc-tab {
    height: 48px !important;
    flex-grow: 0 !important;
}

.mat-mdc-tab-group.mat-background-primary, .mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-mdc-tab-header-with-background-background-color: #35e5ced2;
    /* --mat-mdc-tab-header-with-background-foreground-color: #fff; */
}

.justify-content-around {
    justify-content: space-around!important;
}

.carousel-control-next, .carousel-control-prev
{
    width: 10%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #artistDetailCol2, #artistDetailCol3, #artistDetailCol4 {
            flex: none;
        }
    #showEventsSection {
        width: 100% !important; 
    }
  }

@media (min-width: 768px) { 
    form
    {
        width: 40em !important;
    }
 }