
<head>
    <title>Event Search</title>
</head>
  <div class="container">
    <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav mr-5">
              <li type="button" class="nav-item col-xs-3"><button class="btn" id="searchFav">Search </button></li>
              <li type="button" class="nav-item col-xs-3"><button class="btn" id="searchFav">Favorites</button></li>
            </ul>
    </nav>
    
    <section class="container mt-5 w-50 text-light p-5">
      <form class="row g-3 p-3" method="GET" (ngSubmit)="onSubmit(eventForm)" [formGroup] = "eventForm" ngNativeValidate>
        <h2 align="center" style="color: white; font-family: 'Times New Roman', Times, serif; font-size: 35px; font-weight: lighter;">Events Search</h2>
        <hr style="opacity: 0.95; color: #ffffff;" width="80%">  

        <div class="col-12">
              <label class="form-label" id="basic">Keyword<span style="color: red;">*</span></label>
              <input matInput [matAutocomplete]="auto" type="text" id="keyword" [(ngModel)]="formInputValue.keyword" formControlName="keyword" class="form-control" required >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" style="color: white;">
                    {{option}}
                  </mat-option>
              </mat-autocomplete>
        </div>

        <div class="col-md-6">
          <label class="form-label" id="basic">Distance</label>
          <input type="number" class="form-control" [(ngModel)]="defaultDistance" formControlName="distance">
        </div>
        <div class="col-md-6">
          <label class="form-label" id="basic">Category<span style="color: red;">*</span></label>
          <select id="getCategory" class="form-select"  formControlName="category" [(ngModel)]="formInputValue.category">
            <option selected style="background-color:rgba(0, 0, 0, 0.098); color: white;" value="Default">Default</option>
            <option style="background-color:rgba(0, 0, 0, 0.098); color: white;" value="Music">Music</option>
            <option style="background-color:rgba(0, 0, 0, 0.098); color: white;" value="Sports">Sports</option>
            <option style="background-color:rgba(0, 0, 0, 0.098); color: white;" value="ArtsTheatre">Arts & Theatre</option>
            <option style="background-color:rgba(0, 0, 0, 0.098); color: white;" value="Film">Film</option>
            <option style="background-color:rgba(0, 0, 0, 0.098); color: white;" value="Miscellaneous">Miscellaneous</option>
          </select>
        </div>
          
        <div class="col-12">
          <label class="form-label" id="basic">Location<span style="color: red;">*</span></label>
          <input type="text" class="form-control" formControlName = "location" required [(ngModel)]="formInputValue.location" >
        </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" formControlName="locationCheckbox"  type="checkbox" id="gridCheck" [checked] = "autoDetect" (change) = "fetchLocation(this)">
              <label class="form-check-label" for="gridCheck" id="basic">
                Auto-detect your location
              </label>
            </div>
          </div>

          <div class="col-md-12 text-center mb-4">
            <input id="formSearchButton" type="submit" class="btn m-2" value="SUBMIT">
            <button id="formClearButton" type="button" class="btn m-2" (click)="clearForm()">CLEAR</button>
         </div>
        </form>
     </section>
    </div>