<!-- <app-event-page></app-event-page> -->

<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Event Search</title>
</head>
<body class="bg">
    
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <ul class="navbar-nav mr-5 me-auto mb-2 mb-lg-0">
          </ul>
          <button type="button" class="btn btn-outline-dark m-2" [ngClass]="[searchStyle]" (click)="changeSearchBorder()"><a routerLink="/search">Search</a></button>
          <button type="button" class="btn btn-outline-dark" [ngClass]="[favouriteStyle]" (click)="changeFavouriteBorder()"><a routerLink="/favourite">Favorites</a></button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>
